@font-face {
    font-family: 'Share Tech Mono';
    src: url('share-tech-400.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

body {
    padding : 0;
    margin : 0;
    width : 100vw;
    height: 100vh;

    background-color : #111111;
    color : #CCCCCC;
    font : 16px "Share Tech Mono", monospace;
}

div {
    padding : 5px;
}

div:empty {
    display:none;
}

#file:not(:empty)::before {
    content: "Input file: ";
}

#error:not(:empty)::before {
    content: "Error: ";
}

#answer:not(:empty)::before {
    content: "Answer: ";
}

#time:not(:empty)::before {
    content: "Performance: \00000a";
}

#time {
    white-space: pre;
}

.day {
    font-size : 24px;
}
